html {
  height: 100%;
  font-size: 16px; }

body {
  font-size: 62.5%;
  font-family: tahoma,arial,helvetica,sans-serif;
  position: relative;
  padding: 0 40px;
  height: 100%;
}

footer {
  position: absolute;
  bottom: 40px;
  right: 40px;
  left: 40px;
  text-align: right;

}

.word {
  text-align: center;
  vertical-align: top;
  line-height: 36px;
  position: absolute;
  bottom: 20%;
  left: 0;
  font-family: 'Marck Script', cursive;
  right: 0;
}

.mistakes {
  text-align: center;
  vertical-align: top;
  line-height: 36px;
  position: absolute;
  top: 5%;
  left: 0;
  font-family: 'Marck Script', cursive;
  right: 0;
}

.letter {
  vertical-align: top;
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 44px;
  border: 2px solid;
  border-radius: 10px;
  margin: 2px;
}

.mistake {
  vertical-align: top;
  display: inline-block;
  width: 20px;
  height: 20px;
  font-size: 44px;
  box-shadow: 0 0 0 2px #000;
  border-radius: 10px;
  margin: 4px;
}

.mistake-filled {
    background-color: red;
}

.restart-button {
    height: 50px;
    width: 80px;
    background-color: blue;
}